### Proxy Target Variable Engineering
* Calculate RFM Metrics
* Cluster Customers
* Define and Assign the "High-Risk" Label
* Integrate the Target Variable

#### Import Module

In [1]:
import pandas as pd
import sys
sys.path.append('..')
from src.proxy_target import create_proxy_target # custom module for proxy target engineering

#### Load Raw Data

In [2]:
df_raw=pd.read_csv('../data/raw/data.csv')
df_raw.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

#### Create Proxy Target Using Custom Module

In [3]:
proxy_target = create_proxy_target(df_raw)
proxy_target.head()

        CustomerId  is_high_risk
0     CustomerId_1             1
1    CustomerId_10             1
2  CustomerId_1001             1
3  CustomerId_1002             0
4  CustomerId_1003             0

#### Load The Preprocessed data For Integrating with Proxy target

In [4]:
df_pre=pd.read_csv("../data/processed/data_processed.csv")
df_pre.head()

,Unnamed: 0,num__total_amount,num__avg_amount,num__transaction_count,num__std_amount,cat__ProviderId_ProviderId_1,cat__ProviderId_ProviderId_2,cat__ProviderId_ProviderId_3,cat__ProviderId_ProviderId_4,cat__ProviderId_ProviderId_5,...,cat__ProductId_ProductId_4,cat__ProductId_ProductId_5,cat__ProductId_ProductId_6,cat__ProductId_ProductId_7,cat__ProductId_ProductId_8,cat__ProductId_ProductId_9,cat__ChannelId_ChannelId_1,cat__ChannelId_ChannelId_2,cat__ChannelId_ChannelId_3,cat__ChannelId_ChannelId_5
0,0,0.170118,-0.067623,-0.311831,-0.167524,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0.170118,-0.067623,-0.311831,-0.167524,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,0.165122,-0.072568,-0.444993,-0.201719,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,0.175567,-0.008155,-0.404020,-0.008737,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,0.175567,-0.008155,-0.404020,-0.008737,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0